<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.name }} | {{ store.name }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ theme | theme_css_url }}" media="screen" rel="stylesheet" type="text/css">
    {{ head_content }}
  </head>
  <body id="{{ page.permalink }}" class="{{ page.category }}">
    <a class="skip-link" href="#main">Skip to main content</a>
    {% if theme.announcement_message_text != blank %}
      <aside class="flash-message">
        <div class="flash-message-text">{{ theme.announcement_message_text }}</div>
        <button class="flash-message-close" title="Close announcement message">
          <svg aria-hidden="true" height="16" width="16" class="close-icon" viewBox="0 0 17 17">
            <path d="M17 1.4L15.6 0 8.5 7.1 1.4 0 0 1.4l7.1 7.1L0 15.6 1.4 17l7.1-7.1 7.1 7.1 1.4-1.4-7.1-7.1z"></path>
          </svg>
        </button>
      </aside>
    {% endif %}
    <header class="header">
      <div class="wrapper">
        {% if theme.logo != blank %}
          <a class="store-link" href="/">
            <img alt="{{ store.name | escape }} Home" class="store-logo" src="{{ theme.images.logo.url | constrain: 1508, 1508 }}">
          </a>
        {% else %}
          <a class="store-link" href="/" title="{{ store.name | escape }} Home">{{ store.name }}</a>
        {% endif %}
        <nav class="header-nav-container">
          <ul class="nav" role="menubar" aria-hidden="false">
            <li class="nav-menu-item" role="menuitem" aria-haspopup="{% if categories.active == blank %}false{% else%}true{% endif %}">
              {% if categories.active != blank or artists.active != blank or theme.show_search != false %}
                <a href="#" aria-label="Browse by category">Shop</a>
                <ul aria-hidden="true" role="menu" class="horizontal-nav-links">
                  <button class="close-nav-menu">
                    <svg aria-hidden="true" height="16" width="16" class="close-icon" viewBox="0 0 17 17">
                      <path d="M17 1.4L15.6 0 8.5 7.1 1.4 0 0 1.4l7.1 7.1L0 15.6 1.4 17l7.1-7.1 7.1 7.1 1.4-1.4-7.1-7.1z"></path>
                    </svg>
                    <span class="visually-hidden">Close navigation</span>
                  </button>
                  {% if theme.show_search %}
                    <li class="dropdown-search">
                      <form class="search-form" name="search" action="/products" method="get" accept-charset="utf8" role="search">
                        <label for="search" class="visually-hidden">Search products</label>
                        <input type="hidden" name="utf8" value='✓'>
                        <input class="search-input" id="search" name="search" placeholder="Search..." type="text" autocomplete="off" />
                        <button type="submit" class="search-button" aria-label="Submit search form">
                          <svg aria-hidden="true" height="15" width="15" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.15 11.27">
                            <path d="M11.15 10.56L8.8 8.21A4.93 4.93 0 0010 5a5.06 5.06 0 10-1.92 3.91l2.36 2.36zM1 5a4 4 0 114 4 4 4 0 01-4-4z" fill-rule="evenodd"/>
                          </svg>
                        </button>
                      </form>
                    </li>
                  {% endif %}
                  <li class="horizontal-nav-link" role="menuitem"><a href="/products" tabindex="-1">All</a></li>
                  {% if categories.active != blank %}
                    {% for category in categories.active %}
                      <li class="horizontal-nav-link"><a href="{{ category.url }}" tabindex="-1">{{ category.name }}</a></li>
                    {% endfor %}
                  {% endif %}

                  {% if artists.active != blank %}
                    {% for artist in artists.active %}
                      <li class="horizontal-nav-link"><a href="{{ artist.url }}" tabindex="-1">{{ artist.name }}</a></li>
                    {% endfor %}
                  {% endif %}
                </ul>
              {% else %}
                <a href="/products">Shop</a>
              {% endif %}
            </li>

            {% if pages.all.size > 0 or store.website != blank %}
              <li class="nav-menu-item" role="menuitem" aria-haspopup="true">
                <a href="#" aria-label="Pages list">Info</a>
                <ul aria-hidden="true" role="menu" class="horizontal-nav-links">
                  <button class="close-nav-menu">
                    <svg aria-hidden="true" height="16" width="16" class="close-icon" viewBox="0 0 17 17">
                      <path d="M17 1.4L15.6 0 8.5 7.1 1.4 0 0 1.4l7.1 7.1L0 15.6 1.4 17l7.1-7.1 7.1 7.1 1.4-1.4-7.1-7.1z"></path>
                    </svg>
                    <span class="visually-hidden">Close navigation</span>
                  </button>
                  {% for page in pages.all %}
                    <li class="horizontal-nav-link" role="menuitem"><a href="{{ page.url }}" tabindex="-1">{{ page.name }}</a></li></li>
                  {% endfor %}
                  <li class="horizontal-nav-link" role="menuitem"><a href="/contact" tabindex="-1">Contact</a></li>
                  {% if store.website != blank %}
                    <li class="horizontal-nav-link" role="menuitem"><a href="{{ store.website }}" tabindex="-1">Back to site</a></li>
                  {% endif %}
                </ul>
              </li>
            {% else %}
              <li class="nav-menu-item" role="menuitem" aria-haspopup="false"><a href="/contact">Contact</a></li>
            {% endif %}

            {% if theme.twitter_url != blank or theme.facebook_url != blank or theme.instagram_url != blank or theme.tumblr_url != blank or theme.pinterest_url != blank %}
              {% capture social_urls %}{{ theme.twitter_url }},{{ theme.facebook_url }},{{ theme.instagram_url }},{{ theme.tumblr_url }},{{ theme.pinterest_url }}{% endcapture %}

              {% assign social_urls_array = social_urls | split: ","  %}

              {% assign social_urls_array_size = social_urls_array | size %}
              {% if social_urls_array_size == 1 %}
                <li class="nav-menu-item" role="menuitem" aria-haspopup="false">
                  {% if theme.instagram_url != blank %}<a title="Instagram" href="{{ theme.instagram_url }}">Instagram</a>{% endif %}
                  {% if theme.twitter_url != blank %}<a title="Twitter" href="{{ theme.twitter_url }}">Twitter</a>{% endif %}
                  {% if theme.facebook_url != blank %}<a title="Facebook" href="{{ theme.facebook_url }}">Facebook</a>{% endif %}
                  {% if theme.pinterest_url != blank %}<a title="Pinterest" href="{{ theme.pinterest_url }}">Pinterest</a>{% endif %}
                  {% if theme.tumblr_url != blank %}<a title="Tumblr" href="{{ theme.tumblr_url }}">Tumblr</a>{% endif %}
                </li>
              {% else %}
                <li class="nav-menu-item" role="menuitem" aria-haspopup="true">
                  <a href="#">Follow</a>
                  <ul aria-hidden="true" role="menu" class="horizontal-nav-links">
                    <button class="close-nav-menu">
                      <svg aria-hidden="true" height="16" width="16" class="close-icon" viewBox="0 0 17 17">
                        <path d="M17 1.4L15.6 0 8.5 7.1 1.4 0 0 1.4l7.1 7.1L0 15.6 1.4 17l7.1-7.1 7.1 7.1 1.4-1.4-7.1-7.1z"></path>
                      </svg>
                      <span class="visually-hidden">Close navigation</span>
                    </button>
                    {% if theme.instagram_url != blank %}
                      <li class="horizontal-nav-link" role="menuitem"><a href="{{ theme.instagram_url }}" tabindex="-1">Instagram</a></li>
                    {% endif %}

                    {% if theme.twitter_url != blank %}
                      <li class="horizontal-nav-link" role="menuitem"><a href="{{ theme.twitter_url }}" tabindex="-1">Twitter</a></li>
                    {% endif %}

                    {% if theme.facebook_url != blank %}
                      <li class="horizontal-nav-link" role="menuitem"><a href="{{ theme.facebook_url }}" tabindex="-1">Facebook</a></li>
                    {% endif %}

                    {% if theme.pinterest_url != blank %}
                      <li class="horizontal-nav-link" role="menuitem"><a href="{{ theme.pinterest_url }}" tabindex="-1">Pinterest</a></li>
                    {% endif %}

                    {% if theme.tumblr_url != blank %}
                      <li class="horizontal-nav-link" role="menuitem"><a href="{{ theme.tumblr_url }}" tabindex="-1">Tumblr</a></li>
                    {% endif %}
                  </ul>
                </li>
              {% endif %}
            {% endif %}
            <li class="nav-menu-item" role="menuitem" aria-haspopup="false"><a href="/cart" aria-label="View cart, {% if cart.item_count > 0 %}{{ cart.item_count | pluralize: 'item', 'items' }}{% endif %}">
              Cart <span class="cart-item-count {% if cart.item_count == 0 %}no-items{% endif %}">{{ cart.item_count }}</span></a>
            </li>
          </ul>
        </nav>
    </header>
    <main class="content" id="main">
      <div class="wrapper">
        {% if page.category == 'custom' %}
          <h1 class="page-title">{{ page.name }}</h1>
          <div class="page-content {{ page.category }}-content">
            {{ page_content | paragraphs }}
            {% if page.name == theme.lookbook_page_name %}
              {% if theme.image_sets.lookbook_images.size > 0 %}
                <div class="lookbook-gallery">
                  {% for image in theme.image_sets.lookbook_images %}
                    <img alt="" class="lazy lookbook-gallery-image" src="{{ image.url | constrain: '100','' }}" data-src="{{ image.url | constrain: '760','' }}" data-srcset="{{ image.url | constrain: '1520','' }} 2x, {{ image.url | constrain: '760','' }} 1x">
                  {% endfor %}
                </div>
              {% endif %}
            {% endif %}
          </div>
        {% else %}
          {% if errors != blank %}
            <div class="error-container">
              <div class="error-list">
                {% for error in errors %}
                  <div class="error-list-item">{{ error }}</div>
                {% endfor %}
              </div>
            </div>
          {% endif %}
          {{ page_content }}
        {% endif %}
      </div>

      {% if page.full_url contains '/product/' and theme.show_similar_products and product.categories != blank %}
        {% for category in product.categories %}
          {% assign this_product = product %}
          {% capture product_divs %}
            {% for product in category.products limit: 15 %}
              {% if this_product.id != product.id %}
                {% if theme.max_products_per_row == 4 %}
                  {% assign product_image_constrain_width = 288 %}
                  {% assign product_image_constrain_height = 288 %}
                  {% assign product_image_constrain_width_large = product_image_constrain_width | times: 2 %}
                  {% assign product_image_constrain_height_large = product_image_constrain_height | times: 2 %}
                {% elsif theme.max_products_per_row == 3 %}
                  {% assign product_image_constrain_width = 390 %}
                  {% assign product_image_constrain_height = 390 %}
                  {% assign product_image_constrain_width_large = product_image_constrain_width | times: 2 %}
                  {% assign product_image_constrain_height_large = product_image_constrain_height | times: 2 %}
                {% elsif theme.max_products_per_row == 2 %}
                  {% assign product_image_constrain_width = 592 %}
                  {% assign product_image_constrain_height = 526 %}
                  {% assign product_image_constrain_width_large = product_image_constrain_width | times: 2 %}
                  {% assign product_image_constrain_height_large = product_image_constrain_height | times: 2 %}
                {% elsif theme.max_products_per_row == 1 %}
                  {% assign product_image_constrain_width = 1200 %}
                  {% assign product_image_constrain_height = 1200 %}
                  {% assign product_image_constrain_width_large = product_image_constrain_width | times: 2 %}
                  {% assign product_image_constrain_height_large = product_image_constrain_height | times: 2 %}
                {% endif %}
                {% assign thumb_constrain_width = 30 %}
                {% assign thumb_constrain_height = 30 %}

                {% assign product_status = '' %}
                {% case product.status %}
                  {% when 'active' %}
                    {% if product.on_sale %}{% assign product_status = 'On sale' %}{% endif %}
                  {% when 'sold-out' %}
                    {% assign product_status = 'Sold out' %}
                  {% when 'coming-soon' %}
                    {% assign product_status = 'Coming soon' %}
                {% endcase %}
                {% capture image_class %}
                  {% if product.image.height > product.image.width %}
                    image-tall
                    {% if theme.grid_image_style == 'crop-to-square' %}
                      {% assign product_image_constrain_height = '' %}
                      {% assign product_image_constrain_height_large = '' %}
                      {% assign thumb_constrain_height = '' %}
                    {% endif %}
                  {% elsif product.image.height < product.image.width %}
                    image-wide
                    {% if theme.grid_image_style == 'crop-to-square' %}
                      {% assign product_image_constrain_width = '' %}
                      {% assign product_image_constrain_width_large = '' %}
                      {% assign thumb_constrain_width = '' %}
                    {% endif %}
                  {% else %}
                    image-square
                  {% endif %}
                {% endcapture %}
                <a class="product-list-thumb {{ theme.grid_image_style }}" href="{{ product.url }}" title="View {{ product.name | escape }}">
                  <div class="product-list-thumb-container">
                    <figure class="product-list-image-container {% if product.images[1] != blank and theme.secondary_image_on_hover == true %}show-secondary{% endif %}">
                      <div class="image-wrapper">
                        <div alt="" class="lazy product-list-image {{ image_class }}" src="{{ product.image | product_image_url | constrain: thumb_constrain_width,thumb_constrain_height }}" data-src="{{ product.image | product_image_url | constrain: product_image_constrain_width, product_image_constrain_height }}" data-srcset="{{ product.image | product_image_url | constrain: product_image_constrain_width_large, product_image_constrain_height_large }} 2x, {{ product.image | product_image_url | constrain: product_image_constrain_width, product_image_constrain_height }} 1x"></div>
                        {% if product.images[1] != blank and theme.secondary_image_on_hover == true %}
                          {% if theme.max_products_per_row == 4 %}
                            {% assign product_image_constrain_width = 288 %}
                            {% assign product_image_constrain_height = 288 %}
                            {% assign product_image_constrain_width_large = product_image_constrain_width | times: 2 %}
                            {% assign product_image_constrain_height_large = product_image_constrain_height | times: 2 %}
                          {% elsif theme.max_products_per_row == 3 %}
                            {% assign product_image_constrain_width = 390 %}
                            {% assign product_image_constrain_height = 390 %}
                            {% assign product_image_constrain_width_large = product_image_constrain_width | times: 2 %}
                            {% assign product_image_constrain_height_large = product_image_constrain_height | times: 2 %}
                          {% elsif theme.max_products_per_row == 2 %}
                            {% assign product_image_constrain_width = 592 %}
                            {% assign product_image_constrain_height = 526 %}
                            {% assign product_image_constrain_width_large = product_image_constrain_width | times: 2 %}
                            {% assign product_image_constrain_height_large = product_image_constrain_height | times: 2 %}
                          {% elsif theme.max_products_per_row == 1 %}
                            {% assign product_image_constrain_width = 1200 %}
                            {% assign product_image_constrain_height = 1200 %}
                            {% assign product_image_constrain_width_large = product_image_constrain_width | times: 2 %}
                            {% assign product_image_constrain_height_large = product_image_constrain_height | times: 2 %}
                          {% endif %}
                          {% assign thumb_constrain_width = 30 %}
                          {% assign thumb_constrain_height = 30 %}
                          {% capture secondary_image_class %}
                            {% if product.images[1].height > product.images[1].width %}
                              image-tall
                              {% if theme.grid_image_style == 'crop-to-square' %}
                                {% assign product_image_constrain_height = '' %}
                                {% assign product_image_constrain_height_large = '' %}
                                {% assign thumb_constrain_height = '' %}
                              {% endif %}
                            {% elsif product.images[1].height < product.images[1].width %}
                              image-wide
                              {% if theme.grid_image_style == 'crop-to-square' %}
                                {% assign product_image_constrain_width = '' %}
                                {% assign product_image_constrain_width_large = '' %}
                                {% assign thumb_constrain_width = '' %}
                              {% endif %}
                            {% else %}
                              image-square
                            {% endif %}
                          {% endcapture %}
                          <div alt="" class="lazy product-list-image {{ secondary_image_class }}" src="{{ product.images[1] | product_image_url | constrain: thumb_constrain_width,thumb_constrain_height }}" data-src="{{ product.images[1] | product_image_url | constrain: product_image_constrain_width, product_image_constrain_height }}" data-srcset="{{ product.images[1] | product_image_url | constrain: product_image_constrain_width_large, product_image_constrain_height_large }} 2x, {{ product.images[1] | product_image_url | constrain: product_image_constrain_width, product_image_constrain_height }} 1x"></div>
                        {% endif %}
                      </div>
                    </figure>
                  </div>
                  <div class="product-list-thumb-info">
                    <div class="product-list-thumb-name">{{ product.name }}</div>
                    <div class="product-list-thumb-price">
                      {% if product.variable_pricing %}
                        {{ product.min_price | money: theme.money_format }} - {{ product.max_price | money: theme.money_format }}
                      {% else %}
                        {{ product.default_price | money: theme.money_format }}
                      {% endif %}
                      {% if product_status != blank %}<span class="product-list-thumb-status">&mdash; {{ product_status }}</span>{% endif %}
                    </div>
                  </div>
                </a>
              {% endif %}
            {% endfor %}
          {% endcapture %}
        {% endfor %}
      {% endif %}
      {% if product_divs != blank %}
        <div class="all-similar-products">{{ product_divs }}</div>
        <div class="similar-products">
          <div class="wrapper">
            <div class="similar-products-header">You might also like</div>
            <div class="product-list similar-product-list"></div>
          </div>
        </div>
      {% endif %}
    </main>
    <footer class="footer">
      <div class="wrapper">
        <div class="footer-store-name">{{ store.name }}</div>
        <div class="footer-store-credit">{{ powered_by_big_cartel }}</div>
      </div>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ 'api' | theme_js_url }}"></script>
    <script src="{{ theme | theme_js_url }}"></script>
    {% if page.full_url contains '/product/' %}
      <script>
        var show_sold_out_product_options = '{{ theme.show_sold_out_product_options }}';
        Product.find('{{ product.permalink }}', processProduct)
      </script>
    {% endif %}
  </body>
</html>
