<div class="product-page-content">
  {% assign product_status = '' %}
  {% case product.status %}
  	{% when 'active' %}
  		{% if product.on_sale %}{% assign product_status = 'On sale' %}{% endif %}
  	{% when 'sold-out' %}
  		{% assign product_status = 'Sold out' %}
  	{% when 'coming-soon' %}
  		{% assign product_status = 'Coming soon' %}
  {% endcase %}

  <div class="primary-product-image-container">
    <img alt="{{ product.name | escape }}" class="lazy primary-product-image" src="{{ product.image | product_image_url | constrain: 100 }}" data-src="{{ product.image | product_image_url | constrain: 768 }}" data-srcset="{{ product.image | product_image_url | constrain: 1536 }} 2x, {{ product.image | product_image_url | constrain: 768 }} 1x">
  </div>

  <div class="product-page-details{% if product.status != 'active' %} inactive{% endif %}">
    <div class="product-page-titles">
      <h1 class="page-title product-name">{{ product.name }}</h1>
      <div class="product-page-price">
        {% if product.variable_pricing %}
          {{ product.min_price | money: theme.money_format }} - {{ product.max_price | money: theme.money_format }}
        {% else %}
          {{ product.default_price | money: theme.money_format }}
        {% endif %}
        {% if product_status != blank %}
          &mdash; <span class="product-status">{{ product_status }}</span>
        {% endif %}
      </div>
    </div>

    {% if product.status == 'active' %}
      <form method="post" class="product-form {% if theme.show_sold_out_product_options %}show-sold-out{% else %}hide-sold-out{% endif %}" action="/cart" accept-charset="utf8">
        <input type="hidden" name="utf8" value='✓'>
        {% if product.has_default_option %}
          {{ product.option | hidden_option_input }}
        {% else %}
          {% if product.has_option_groups %}
            <div class="product_option_groups">
              <input id="option" name="cart[add][id]" type="hidden" value="0">
              {% for option_group in product.option_groups %}
                <div class="select">
                  <select data-unavailable-text="(Unavailable)" data-sold-text="(Sold out)" data-group-id="{{ option_group.id }}" data-group-name="{{ option_group.name | escape }}" class="product_option_group" name="option_group[{{ option_group.id }}]" title="Select {{ option_group.name | escape }}" required>
                    <option value="" disabled="disabled" selected>Select {{ option_group.name }}</option>
                    {% for value in option_group.values %}
                      <option value="{{ value.id }}" data-name="{{ value.name | escape }}">{{ value.name }}</option>
                    {% endfor %}
                  </select>
                  <svg aria-hidden="true" class="down-arrow" width="13" height="15" viewBox="0 0 13 15" xmlns="http://www.w3.org/2000/svg"><path d="M13 8.35885695l-1.05568445-1.0024981-4.69025523 4.39122407V-4e-7H5.74593968v11.74758332L1.0556845 7.35635885 0 8.35885695 6.5 14.444444z" fill-rule="nonzero"/></svg>
                </div>
              {% endfor %}
            </div>
          {% else %}
            <div class="select">
              <select class="product_option_select" id="option" name="cart[add][id]" title="Select variant" required>
                <option value="" disabled="disabled" selected>Select variant</option>
                {% for option in product.options %}
                  <option value="{{ option.id }}" data-price="{{ option.price }}"{% if option.sold_out %} disabled="disabled" disabled-type="sold-out"{% endif %}>{{ option.name }} {% if option.sold_out %} (Sold out){% endif %}</option>
                {% endfor %}
              </select>
              <svg aria-hidden="true" class="down-arrow" width="13" height="15" viewBox="0 0 13 15" xmlns="http://www.w3.org/2000/svg"><path d="M13 8.35885695l-1.05568445-1.0024981-4.69025523 4.39122407V-4e-7H5.74593968v11.74758332L1.0556845 7.35635885 0 8.35885695 6.5 14.444444z" fill-rule="nonzero"/></svg>
            </div>
          {% endif %}
        {% endif %}
        <button class="button add-to-cart-button" name="submit" type="submit" data-adding-text="Adding..." data-added-text="Added!" data-add-title="Add to Cart" data-sold-title="Sold out">Add to Cart</button>
        {{ store | instant_checkout_button: 'dark', '44px' }}
        {% if product.has_option_groups %}
          <div class="reset-selection-button-container">
            <button class="button minimal-button reset-selection-button" title="Reset selection" type="reset">Reset selection</button>
          </div>
        {% endif %}
      </form>
    {% endif %}

  	<div class="product-description">
  		{% if product.description != blank %}
  			{{ product.description | paragraphs }}
  		{% endif %}
  	</div>
  </div>

  {% if product.images.size > 1 %}
    <div class="secondary-product-image-container">
      {% for image in product.images offset: 1 %}
        <img alt="{{ product.name | escape }} Image {{ forloop.index | plus: 1 }}" class="lazy secondary-product-image" src="{{ image | product_image_url | constrain: 70 }}" data-src="{{ image | product_image_url | constrain: 768 }}" data-srcset="{{ image | product_image_url | constrain: 1536 }} 2x, {{ image | product_image_url | constrain: 768 }} 1x">
      {% endfor %}
    </div>
  {% endif %}
</div>
